asgiref==3.8.1
backports.zoneinfo==0.2.1
blinker==1.8.2
cffi==1.17.1
click==8.1.8
colorama==0.4.6
cryptography==44.0.1
Django==4.2.19
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.9
Flask==3.0.3
GDAL @ file:///C:/Users/bunny/Downloads/attendx/GDAL-3.2.3-cp38-cp38-win_amd64.whl#sha256=8f9ba3e6daab17d59d47a1238d734072007245226d167681cd84f5a20d749605
geos==0.2.3
importlib_metadata==8.5.0
inflection==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.5
lxml==5.3.1
MarkupSafe==2.1.5
numpy==1.24.4
packaging==24.2
pillow==10.4.0
pycparser==2.22
PyJWT==2.9.0
PyMySQL==1.1.1
pypng==0.20220715.0
pytz==2025.1
PyYAML==6.0.2
qrcode==7.4.2
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
uritemplate==4.1.1
Werkzeug==3.0.6
zipp==3.20.2
